<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PrimeCare</title>

    <!--owl slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <!-- fonts awesome style -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,500,700&display=swap"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/static/css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="contact_nav_container">
          <div class="container">
            <div class="contact_nav">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span> Address : wisigaton lpusm loram </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> Email : demo@gmail.com </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> Phone Call : +01 123455678990 </span>
              </a>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index.html">
              <span> PrimeCare </span>
            </a>
          </nav>
        </div>
      </header>
      <!-- end header section -->
      <!-- slider section -->
      <section class="slider_section position-relative">
        <div
          id="customCarousel1"
          class="carousel slide"
          data-ride="carousel"
        ></div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- service section -->

    <section class="service_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="gimg-box">
                <img
                  src="/static/images/happy.png"
                  style="width: 50px"
                  alt=""
                />
              </div>
              <div class="detail-box">
                <h4>Happy</h4>
                <p>
                  available, but the majority have suffered alteration in some
                  form, by injected
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/surprised.png" alt="" />
              </div>
              <div class="detail-box">
                <h4>Surprise</h4>
                <p>
                  available, but the majority have suffered alteration in some
                  form, by injected
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/sad-face.png" alt="" />
              </div>
              <div class="detail-box">
                <h4>Sad</h4>
                <p>
                  available, but the majority have suffered alteration in some
                  form, by injected
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="box">
              <div class="img-box">
                <img src="/static/images/stunned.png" alt="" />
              </div>
              <div class="detail-box">
                <h4>Fear</h4>
                <p>
                  available, but the majority have suffered alteration in some
                  form, by injected
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end service section -->

    <!-- predict section -->
    <section class="predict_section">
      <div class="container">
        <div>
          <h1>Upload an Image to Predict Emotion</h1>
          <div class="card-load-image">
            <div class="top-load-image">
              <p>Drag and drop image</p>
              <button class="upload-button" type="button">Upload</button>
            </div>
            <form id="upload-form" method="post" enctype="multipart/form-data">
              <span class="innet"
                >Drag & drop image here or
                <span class="select">Browse</span></span
              >
              <input
                name="files"
                type="file"
                class="form-input file"
                accept="image/*,video/*"
                multiple
              />
            </form>

            <div class="img-container"></div>
          </div>
          <div class="predict-buttons">
            <button type="button" id="button-predict">Predict</button>
            <button type="button" id="button-predict__camera">
              Start with your camera
            </button>
          </div>
          <span id="text-processing" class="hidden-text">Processing ...</span>
          <div id="result_display" class="gallery"></div>
        </div>
      </div>
    </section>

    <!--  end predict section -->

    <!--  about section -->

    <section class="about_section layout_padding">
      <div class="container-fluid">
        <div class="box">
          <div class="img-box">
            <img src="/static/images/about-img.jpg" alt="" />
          </div>
          <div class="detail-box">
            <h2>About Us</h2>
            <p>
              In the era of rapid development of information technology, the
              ability to recognize human emotions through computer vision has
              become an important research area and has been widely applied in
              many fields such as human-computer interaction, security,
              healthcare and marketing. The ability of computers to
              automatically recognize and classify human emotions through facial
              expressions not only opens up many application opportunities but
              also establishes many technically sophisticated formulas.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- we have section -->

    <section class="wehave_section">
      <div class="container-fluid">
        <div class="box">
          <div class="detail-box">
            <h2>Target</h2>
            <p>
              This project aims to build an emotion recognition system from
              facial images. The tasks include collecting and preprocessing
              image data, developing a machine learning model to classify basic
              emotions, evaluating and improving the performance of the model.
              The model will then be deployed to a website to be able to
              identify emotions through live video.
            </p>
          </div>
          <div class="img-box">
            <img src="/static/images/we_img.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/static/js/custom.js"></script>
  </body>
</html>
